.search-bar{
    position: relative;
    top: -35vh;
    opacity: .8;
    
}
.ui.blue.button{
    opacity: 1;
}

.autocomplete-results{
    cursor: pointer;
    margin: 1rem 0 0 .5rem;
    padding-left: .5rem;
}
.autocomplete-result{
 padding-left: .5rem;
    
}
.autocomplete-result:hover{
    background-color:lightgray;
    border-radius: .3rem;
    
    
}

@media only screen and (max-width: 700px) {
    .search-bar {
      top: 0;
      opacity: 1;
    }
    img.ui.fluid.image.beach-background-img{
        display: none;
    }
  }